.bgImage {
  background: url('/bg-image-pintura.png') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 172px 440px auto;
  grid-template-rows: 107px 270px;
  height: 100vh;
  margin: 0 auto;
  /* margin-left: 112px; */
}

.icon {
  position: absolute;
  top: 145px;
  left: 112px;
  padding: 10px;
  cursor: pointer;
}

.container h1 {
  grid-column: 2;
  grid-row: 2;
  font-size: 4.571rem;
  margin-left: 20px;
}

.container section {
  grid-column: 3;
  grid-row: 3;
  justify-self: end;
  align-self: end;
}

.slider {
  display: flex;
}
